:root {
    --grey: #2b2b2b;
    --darkgrey: #222222;
    --lightgrey: #464646;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    background: red;

    * {
        border: 1px dashed;
    }

    header {
        background: yellow;



        .top-bar {
            background: pink;
        }

        .search-small,
        .auth,
        .search-large {
            background: var(--grey);
            color: #fff;
            text-align: center;
        }
    }

    main {

        .left {
            background-color: lightgreen;
        }

        .right {
            background-color: blue;
        }

        .album {
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;

    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 20px;
        background-color: var(--darkgrey);
    }

    .search-large {
        padding: 9px 20px;
        background-color: var(--lightgrey);
    }

    .search-large input{
        width: 320px;
        background-color: var(--lightgrey);
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px 15px;
        color: white;
    }

    .search-small{
        flex: 0 0 200px;
        margin-right: auto;
    }

    .search-small input {
        width: 100%;
        background-color: var(--lightgrey);
    }
}


main {
    background-color: var(--darkgrey);
    display: flex;
    overflow: hidden;

    .left {
        padding: 10px;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        width: 70%;
    }

    .album {
        width: calc(25% - 10px);
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }

    .right {
        padding: 20px;
        background-color: var(--darkgrey);
        width: 30%;

        img {
            max-width: 100%;
        }
    }

}