:root {
    --grey: #2b2b2b;
    --darkgrey: #222222;
    --lightgrey: #464646;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    background: red;

    * {
        border: 1px dashed;
    }

    header {
        background: yellow;

        .top-bar {
            background: pink;
        }

        .search-small,
        .auth,
        .search-large {
            background: var(--grey);
            color: #fff;
            text-align: center;
        }
    }

    main {
        .left {
            background-color: lightgreen;
        }

        .right {
            background-color: blue;
        }

        .album {
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    background-color: var(--darkgrey);
}

.logo {
    height: 40px;
    width: auto;
    padding-right: 15px;
}

/* Barra sotto grande */
.search-large {
    padding: 9px 20px;
    background-color: var(--grey);
}

.search-large .input-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 450px;
}

.search-large .input-icon i {
    position: absolute;
    left: 13px;
    color: white;
    font-size: 1rem;
    pointer-events: none;
}

.search-large .input-icon input {
    width: 100%;
    padding: 8px 15px 8px 40px;
    background-color: var(--lightgrey);
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
}

/* Barra sopra piccola */
.search-small {
    flex: 0 0 200px;
    margin-right: auto;
}

.search-small .input-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
}

.search-small .input-icon i {
    position: absolute;
    left: 13px;
    color: white;
    font-size: 1rem;
    pointer-events: none;
}

.search-small .input-icon input {
    width: 100%;
    padding: 8px 15px 8px 40px;
    background-color: var(--lightgrey);
    border: 1px solid white;
    color: white;
    font-size: 1rem;
}

/* pulsanti barra di ricerca a destra */
.auth {
    display: flex;
    gap: 15px;
    margin-right: 25px;

    a {
        color: white;
        font-size: 1rem;
        text-decoration: none;
        padding-left: 10px;
    }
}

/* /header */

/* main */
main {
    background-color: var(--darkgrey);
    display: flex;
    overflow: hidden;
}

/* left colun with overflow */

.left {
    flex: 5;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album {
    width: calc(25% - 20px);
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
}

.album img {
    width: 95%;
    height: auto;
    display: block;
}

.album p {
    color: #eee;
}

.color-span {
    color: #aaa;
}

/* right column */

.right {
    flex: 2;
    padding: 20px;
    background-color: var(--darkgrey);
}

.right img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 15px;
}

.right h3 {
    margin: 10px 0 5px 0;
    color: #fff;
}

.right p {
    margin: 0 0 15px 0;
    color: #bbb;
}

.right .tracks {
    margin-top: 15px;
    color: white;
    text-decoration: none;
}

/* bottone nella parte destra con allineamento */

.track-info {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 15px;
    color: white;
    align-items: center;
}

.track-info i {
    font-size: 70px;
    color: white;
    margin-top: 5px;
}

.track-text {
    display: flex;
    flex-direction: column;
}

.track-text h3 {
    margin: 0 0 5px 0;
    color: white;
}

.track-text p {
    margin: 0;
    color: white;
}


/* button */

.button,
.wishlist {
  display: block;
  width: 95%;
  margin: 10px auto;
  padding: 12px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
}

.button {
  background: #fff;
  color: #000;
}

.wishlist {
  background: #2a2a2a;
  color: #fff;
}






/* /main */